<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{% load static %}
<link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>

<body><div id="page-container">
   <div id="content-wrap">{% include "db/nav.html" with signedIn=signedIn user=user %}

<h1 class = "text-centered"> Game - $3.99 <h1>

<script>var stripe = Stripe('pk_live_28e3dqz1tX8j3UsmNpAJNVVE00NmvLEwQH');</script>

<div class = "centered standout">
<button class = "new text-centered" onclick = "stripe.redirectToCheckout({
  sessionId: '{{session}}'
}).then(function (result) {

});">Checkout</button>

</div>
{% include "db/footer.html" with signedIn=signedIn %}
</div>
</body>


</html>
