<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% load static %}
  <link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>
  <script src="{% static 'js/loader.js'%}"></script>


<body><div id="page-container">
   <div id="content-wrap"><div id="page-container">
   <div id="content-wrap">
  {% include "db/nav.html" with signedIn=signedIn %}


<h1 class = "text-centered"> Allow the video of your assassination to be used in the compilation? </h1>
<form method = "post" enctype="multipart/form-data" action="{% url 'allowVideoUsePost' gameID=gameID killedID=killedID %}" class = "text-centered joingame">
  {% csrf_token %}
  <input type="checkbox" name="compilationUse" value="yes" checked>
  <br>
  <input type="submit" value="Confirm" class = "new" id = "submitKill">
</form>
</div>
{% include "db/footer.html" with signedIn=signedIn %}
</div>
</body>
</html>
