
<footer class="footer">
  <hr>
      <div class="container flame">

        <span class="text-muted">{% if signedIn%}
        <a href="{% url 'index' %}">Your Games</a> /

        <a href="{% url 'profile' userID=user %}">Profile</a> /
        <a href="{% url 'userSettings' %}">Settings</a> /
        <a href="{% url 'signOut' %}">Sign Out</a> /

        {% else %}
        <a href="{% url 'login' %}">Log In</a> /
        <a href="{% url 'signup' %}">Sign Up</a> /
        {% endif %}
        <a href="{% url 'faq' %}">FAQ</a>
         /
        <a href="{% url 'intro' %}">General Rules</a>

      </span>

      </div>
    </footer>
