<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<meta http-equiv="refresh" content="480">


  {% load static %}
  <link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>

<body><div id="page-container">
   <div id="content-wrap">  {% include "db/nav.html" with signedIn=signedIn user=user %}


<h2 class = "gameheader">Game {{gameString}}: <span class = "flame">Setup</span></h2>
<h2 class = "regHeader flame">The moderator will start the game soon.</h2>

<div class = "centered standout">
  <button class = "new" onclick = '$("html,body").animate({scrollTop: $("#rulesetScroll").offset().top})'>View Rules</button>
  <button class = "new" onclick =  "window.location.href='{% url 'contactMod' gameID=id %}'">Contact Moderator</button>


</div>

<hr>
<h1 class = "regHeader leaderboard">Leaderboard <img class = "icon" src = "{% static 'images/leaderboard.png' %}"> </h1>
<div class = "scroll">
<table class = "playerTable" style="width:75%">
  <tbody class = "players">
  <tr>
    {% if teams > 1%}
    <th>Team</th>
    {% endif %}
    <th class = "thp">Player</th>
    <th class = "thp">Kills</th>
    <th class = "thp">Alive</th>
  </tr>
  {% for x in players %}

  <tr>
    {% if teams > 1 %}
    <td><span class = larger>{{x.3}}<span></td>
    {% endif %}

      <td><span class = larger><a href = "{% url 'profile' userID=x.1.0 %}">{{ x.0 }}</a><span></td>

    {% for y in x.2 %}

    <td><span class = larger>{{y}}<span></td>

    {%  endfor %}

  </tr>

  {%  endfor %}
</tbody>
</table>
</div>
<hr>
{% include "db/ruleset.html" with extraRules=extraRules killMethod=killMethod safety=safety safetyCircumstances=safetyCircumstances killMethod=killMethod witnessProtection=witnessProtection%}

</div>
{% include "db/footer.html" with signedIn=signedIn %}
</div></body>
</html>
