<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<meta http-equiv="refresh" content="480">


  {% load static %}
  <link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>

<body><div id="page-container">
   <div id="content-wrap">  {% include "db/nav.html" with signedIn=signedIn user=user %}

{% if error_message %}
<p class ="regHeader flame"> {{ error_message }} </p>
{%endif%}
<h2 class = "gameheader">{{name}}: <span class = "flame">Setup</span></h2>


<h1 class = "regHeader">What would you like to do, Moderator?</h1>

<div class = "centered standout">
  <button class = "new" onclick = "window.location.href='{% url 'startPlaying' gameID=id %}'">Start Game</button>
  <button class = "new" onclick = '$("html,body").animate({scrollTop: $("#rulesetScroll").offset().top})'>View Rules</button>
  <button class = "new" onclick = '$("html,body").animate({scrollTop: $("#playerScroll").offset().top})'>Remove Player</button>
  <button class = "new" onclick = "window.location.href='{% url 'gameSettings' gameID=postID %}'">Change Settings</button>
  <button class = "new" onclick = "window.open('mailto:?subject=Join%20my%20Assassin.Live%20game%20--%20{{id}}&body=How%20to%20join%3A%0D%0A1.%20Join%2FLogin%20at%20www.assassin.live%0D%0A2.%20Click%20%22join%20game%22%0D%0A3.%20Enter%20the%20game%20ID --%20{{id}}%20%0A%0D%0AThat\'s%20it!%20The%20rules%20will%20be%20on%20the%20game\'s%20page.%20', 'emailWindow')">Invite Player</button>
  <button class = "new" onclick = "window.location.href='{% url 'modHelp'%}'">Moderator Help</button>
  <button class = "new" onclick = "window.location.href='{% url 'deleteGame' gameID=postID%}'">Cancel Game</button>
</div>

<h1 class = "regHeader" id = "playerScroll">Players</h1>
<div class = "scroll">

<table class = "playerTable" style="width:50%">
  <tr>
    {% if teams > 1%}
    <th>Team</th>
    {% endif %}
    <th>Player</th>
    <th>Kills</th>
    <th>Alive?</th>
    <th>Score</th>

  </tr>
  {% if players %}
    {% for x in players %}

    <tr>  
      {% if teams > 1 %}
      <td><span class = larger>{{x.3}}<span></td>
      {% endif %}
  
        <td><span class = larger><a href = "{% url 'profile' userID=x.1.0 %}">{{ x.0 }} </a><a href = "{% url 'deletePlayer' playerID=x.1.1 gameID=postID%}"><img class = "smallIcon" src = "{% static 'images/close.png' %}"><a/></span></td>

      {% for y in x.2 %}

      <td><span class = larger>{{y}}<span></td>

      {%  endfor %}

  </tr>

    {%  endfor %}
  {% else %}
  <td><span class = "larger">None</span></td>
  <td><span class = "larger">None</span></td>
  <td><span class = "larger">None</span></td>

  {% endif %}
</table>
</div>
<hr>
{% include "db/ruleset.html" with extraRules=extraRules killMethod=killMethod safety=safety safetyCircumstances=safetyCircumstances killMethod=killMethod witnessProtection=witnessProtection%}
</div>
{% include "db/footer.html" with signedIn=signedIn %}
</div>
</body>
</html>
