<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% load static %}
  <link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>

<body><div id="page-container">
   <div id="content-wrap">  {% include "db/nav.html" with signedIn=signedIn user=user %}

<h2 class = "gameheader">Game {{gameString}}:</span></h2>


<div class = "centered standout">
  <button class = "new">View This Game's Rules</button>

<hr>
<h1 class = "regHeader leaderboard">Leaderboard <img class = "icon" src = "{% static 'images/leaderboard.png'%}"> </h1>
<div class = "scroll">

<table class = "playerTable" style="width:75%">
  <tr>
    <th>Player</th>
    <th>Kills</th>
    <th>Alive</th>
  </tr>
  {% for x in players %}

  <tr>

      <td><span class = larger><a href = "{% url 'profile' userID=x.1.0 %}">{{ x.0 }}</a><span></td>

    {% for y in x.2 %}

    <td><span class = larger>{{y}}<span></td>

    {%  endfor %}

  </tr>

  {%  endfor %}

</table>
</div>
<hr>
{% include "db/ruleset.html" with extraRules=extraRules killMethod=killMethod safety=safety safetyCircumstances=safetyCircumstances killMethod=killMethod witnessProtection=witnessProtection%}
</div>
{% include "db/footer.html" with signedIn=signedIn %}
</div></body>
</html>
