<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% load static %}
  <link href="{% static 'css/css.css'%}" rel='stylesheet' type='text/css'>

<body><div id="page-container">
   <div id="content-wrap">  {% include "db/nav.html" with signedIn=signedIn user=user %}

<div class = "centered textDiv">
  <h5>
  <b>
  These are the general rules. To view the rules for a specific game, {% if not signedIn %}<a class = "green" href ="{% url 'login' %}"> Log In</a> or <a class = "green" href ="{% url 'signup'%}"> Sign Up </a> and join a game{% else %}  <a class = "green" href ="{% url 'joinGame'%}">join a game</a> or <a class = "green" href ="{% url 'index'%}">view your current games</a>{% endif%}.
  </b>
</h5>

 <h1 class = "regHeader flame" >Introduction</h1>


 Assassin, at its core, is a game of stealth, paranoia, creativity, and strategy. It is a game in which you assassinate your friends or die trying. It is a game in which wits combine with skills to produce a competition of mastery. It is a game full of tricks, information gathering, diplomacy, and traitors. And, yes, there will be poison ketchup packets, deadly spoons, clock time-bombs, and water guns. Assassin is a game of freedom, ingenuity, friendship, and the thrill of the hunt. Assassin is the experience of our ancestors hunting animals for hours on end and discovering that, sometimes, the hunt is just as fun as its rewards.

<h1 class = "regHeader flame" >Basics</h1>
In the traditional rules of Assassin, each player gains one other player as their “target.” So, each player is hunting down their target while evading their assassin. When a player assassinates their target, they gain their target’s target. Assassinations continue in this circle until only one player remains, who will then be crowned the victor.
<br><br>

To start a game, you'll need to gather some friends (or enemies).<br><br>


<h1 class = "regHeader flame" >Kill Methods</h1>
<p >But, you might be asking, how does an assassination occur?
  <br><br>

Well, that is up to the moderator. Many methods have been used in the past including using water guns, spoons, banana guns, socks, nerf guns, finger guns, cameras, hands, pillows, and more. The only requirement is to not make the kill method suspicious or illegal. If you’re using water guns, painting them black to make them look like real guns is probably not the best idea. The moderator, of course, makes the ultimate decision about kill methods.

<br><br>

When a player is assassinated, they and their assassin should click “confirm assassination” and “confirm death” in order to update the game and for the assassin to gain their next target. It is the responsibility of the assassin to make sure that their target confirms their death. If they aren't confirming, the assassin should contact the moderator.
<br><br>


</p>
<h1 class = "regHeader flame">Protection</h1>
To make the game fun and fair, there should be some protection from assassination, whether that be during school or work, at home, or while wearing a floatie.
<br><br>
Some players like to play where some number of witnesses (anyone other than assassin and target, including both those not in the game and those in the game) will prevent an assassin from assassinating their target.
<br><br>
Overall, too much protection can stop the game from progressing, while too little will make the game less fun.
<br><br>

<h1 class = "regHeader flame">Prizes</h1>

Some players like to pool resources to create a prize for the champion(s) of the game.
<br><br>

<h1 class = "regHeader flame"> Moderating </h1>
  The moderator runs the game from creation to completion. They can start a game on the home page by clicking <a href = ""> start new game </a>. The moderator has the ability to choose the rules, set up the game, and manage the game. If two players are arguing about whether one got killed or not, the moderator should gather all the information and can kill or reverse the death of any player in the game.
  <br><br>
  The moderator’s job is to make sure that players are following the rules and to keep the game fun, safe, and legal.
  <br><br>

<h1 class = "regHeader flame"> Choosing a Ruleset </h1>

When considering what rules to pick, a moderator should keep a couple of things in mind:
<ul>
<li>How many players are going to play</li>
<li>How long should the game last</li>
</ul>
By changing the rules, a moderator can optimize around one of these two goals. If the moderator wants to draw the game out, they should use lots of protection and the “single target” version of the game. If the moderator wants the game to be quick, they should minimize protection.

<br><br>
<h1 class = "regHeader flame"> Extra Rules</h1>
The moderator also has the choice to put in any extra rules they would like!
<br><br>
And, of course, Assassin Live does not condone any illegal activity or rules and the site is not liable for any actions you may take while playing the game. Assassin Live is not liable for any injury, loss, or damage to site users.
<br><br>
You are now ready to play or moderate! Good luck and stay vigilant. Assassinate, or get assassinated.
<div class = "centered standout">
{% if not signedIn %}
<button class = "new" onclick = "window.location.href='{% url 'signup'%}'"> Join the hunt <img class = "icon" src = "{% static 'images/play.png' %}"></button>
{% else %}
<button class = "new" onclick = "window.location.href='{% url 'startGame'%}'">  Start New Game <img class = "icon" src = "{% static 'images/start.png' %}"></button>
<button class = "new" onclick = "window.location.href='{% url 'joinGame'%}'"> Join Existing Game <img class = "icon" src = "{% static 'images/join.png' %}"></button>
<button class = "new" onclick = "window.location.href='{% url 'home'%}'"> Your Games <img class = "icon" src = "{% static 'images/home.png' %}"></button>

{% endif %}
</div>

  </div>
{% include "db/footer.html" with signedIn=signedIn %}
</div></body>
</html>
