option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/ : static
    /static/images: static/images
    /static/admin/css : /static/admin/css
    /static/admin/fonts : /static/admin/fonts
    /static/admin/img : /static/admin/img
    /static/admin/js : /static/admin/js
    /static/css : /static/css
    /static/images : static/images
    /static/js : static/js
